#home {
    background-image: url('/images/about-us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contrainer {
  margin: 100%;
  padding: 100%;
}

.about-us {

}